@model VolunteersClub.Models.Leader

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="row justify-content-start">
        <div class="col-md-6">
           <a asp-controller="Events" asp-action="Create" class="btn btn-primary btn-lg shadow-lg d-flex justify-content-center align-items-center position-relative" style="width: 300px; height: 300px;">
                <img src="https://i.imgur.com/UPIQLuB.png" alt="Create Event" style="width: 70%; height: 70%;">
                <div class="position-absolute bottom-0 start-0 text-center" style="background-color: rgba(0,0,0,0.5); width: 100%; color: white;">Создать новое мероприятие</div>
            </a>
        </div>
    </div>
</div>

