@model VolunteersClub.Models.MarkWithEventViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Детали оценивания</h1>

<div class="card">
    <div class="card-header">
        <h4>@Model.EventName</h4>
    </div>
    <div class="card-body">
        <div class="display-1 text-center">@Html.DisplayFor(model => model.CurrentMark)</div>
        <div class="mt-4">
            <h5>Комментарий:</h5>
            <p>@Html.DisplayFor(model => model.Notes)</p>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-3">
        <a href="#" class="btn btn-primary" onclick="history.back();return false;">Обратно к списку</a>
    </div>
</div>
