@model VolunteersClub.Models.Volunteer

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Редактирование персональных данных</h1>

<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card shadow border-start-primary py-2 mb-3">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Имя</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Patronymic" class="control-label">Отчество</label>
                                <input asp-for="Patronymic" class="form-control" />
                                <span asp-validation-for="Patronymic" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Surname" class="control-label">Фамилия</label>
                                <input asp-for="Surname" class="form-control" />
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BirthDate" class="control-label">Дата рождения</label>
                                <input asp-for="BirthDate" class="form-control" type="date" />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EventTypeID" class="control-label">Наиболее интересный вид мероприятий</label>
                                <select asp-for="EventTypeID" class="form-control" asp-items="ViewBag.EventTypes"></select>
                                <span asp-validation-for="EventTypeID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VolunteerStatusID" class="control-label">Текущий статус</label>
                                <select asp-for="VolunteerStatusID" class="form-control" asp-items="ViewBag.Statuses"></select>
                                <span asp-validation-for="VolunteerStatusID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VK" class="control-label">Ссылка на страницу ВКонтакте</label>
                                <input asp-for="VK" class="form-control" />
                                <span asp-validation-for="VK" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Telegram" class="control-label">Аккаунт в Телеграм</label>
                                <input asp-for="Telegram" class="form-control" />
                                <span asp-validation-for="Telegram" class="text-danger"></span>
                            </div>
                            <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            <div class="form-group text-center">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
