@model IEnumerable<VolunteersClub.Models.UserType>

@{
    ViewData["Title"] = "Выберите роль для регистрации";
}

<style>
    .vertical-center {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .role-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .role-content img {
        max-width: 27%; /* Ограничение ширины изображения */
        height: auto; /* Автоматическая высота */
        margin-bottom: 0px; /* Отступ между изображением и текстом */
        
    }

    .role-btn {
        width: 600px; /* Ширина кнопки */
        height: 200px; /* Высота кнопки */
        margin: 10px; /* Отступ */
        background-size: cover; /* Размер изображения */
        background-color: #7f8cd4;
        color: #030a33; /* Цвет текста */
        font-size: 24px; /* Размер шрифта */
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .role-btn:hover {
        opacity: 0.8;
    }
</style>


<div class="container">
    <div class="vertical-center">
        <h1 class="text-center mb-4">@ViewData["Title"]</h1>

<button class="role-btn" onclick="location.href='@Url.Action("Create", "Leaders")'">
    <div class="role-content">
        <img src="https://i.imgur.com/UwTNiRd.png" alt="Руководитель">
        <div>Руководитель</div>
    </div>
</button>

<button class="role-btn" onclick="location.href='@Url.Action("Create", "Volunteers")'">
    <div class="role-content">
        <img src="https://i.imgur.com/wJuXnOW.png" alt="Волонтёр">
        <div>Волонтёр</div>
    </div>
</button>



        <div class="mt-3">
            <a class="btn btn-secondary" href="@Url.Action("Index", "Home")">Назад</a>
        </div>
    </div>
</div>
